.card-container{
    background: white;
    max-width: 400px;
    flex-basis: 400px;
    overflow: hidden;
    margin: 15px;
    img {
        width: 100%;
    }
    .card-bottom {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
}
.all-cards {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}